<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>不堪一鸡</string>
		<key>icon</key>
		<string>gj</string>
		<key>title</key>
		<string>公鸡和日本车</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>我</string>
			<string>一</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>击</string>
			<string>的</string>
			<string>美</string>
			<string>不</string>
			<string>线</string>
			<string>石</string>
			<string>堪</string>
			<string>人</string>
			<string>空</string>
			<string>鸡</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>苍井空</string>
		<key>icon</key>
		<string>people-cls</string>
		<key>title</key>
		<string>启蒙老师</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>苍</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>井</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>空</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
</array>
</plist>
